@model MVC_assignment_3.Models.Snacks

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Snacks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SnackName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SnackName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PortionSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PortionSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerPortion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerPortion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaloriesPerPortion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaloriesPerPortion)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
